# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
Attendance/
static/faces/
# static/face_recognition_model.pkl

# IDE specific
.vscode/
.idea/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3 